<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/style.css" />
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet" />

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <div class="section1">
        <h1>Stoneware Tabletop Collection</h1>
        <img src="/img/tabletop.jpg" height="100%" width="100%" />
        <p class="par1">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga sint qui neque ea officiis,
            totam in consectetur earum magnam iste cum dolore minima velit error non, laudantium
            possimus natus amet? Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam ab
            voluptatum deleniti doloremque quod amet eligendi perspiciatis quae, expedita eius molestiae
            iure beatae architecto odit tempora reprehenderit enim inventore fugiat!
        </p>
    </div>
    <div class="section3">
        <div>
            <h1>Glazed Stoneware Surface</h1>
        </div>
        <div class="imagesSec3">
            <img src="/img/glaszed-stoneware-back.jpg" class="img1Section3" />
            <img src="/img/glaszed-stoneware-front.jpg" class="img2Section3" />
        </div>
    </div>
    <div class="section1">
        <p class="par1">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga sint qui neque ea officiis,
            totam in consectetur earum magnam iste cum dolore minima velit error non, laudantium
            possimus natus amet? Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam ab
            voluptatum deleniti doloremque quod amet eligendi perspiciatis quae, expedita eius molestiae
            iure beatae architecto odit tempora reprehenderit enim inventore fugiat!
        </p>
    </div>
    <div class="section2">
        <div class="bottomimg">
            <img src="/img/casserole.jpg" width="100%" />
            <h2>Caseroles & Baking Dishes</h2>
            <p>The glazed stoneware surface won't absorb odors or flavors</p>
            <a class="linkMore">Shop ></a>
        </div>
        <div class="bottomimg">
            <img src="/img/baking-dishes.jpg" width="100%" />
            <h2>Produce Perfect Results with Stoneware Baking Dishes</h2>
            <a class="linkMore"> Read More ></a>
        </div>
    </div>
</body>

</html>