body h1 {
    font-size: 40px;
}

.section1 {
  display: flex;
  margin: 50px 100px 0 100px;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

/*.section1 h1 {
  font-size: 65px;
}*/

.par1 {
  margin: 30px;
  width: 80%;
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
    .section1 {       
        margin: 50px 10px 0px 10px;
    }
  .par1{
      height: 50px;
    overflow: auto;
    width: 100%;
  }
  
}


/*******************Bottom Images****************/

.section2 {
  display: flex;
  margin: 0 100px 0 100px;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
}

.img2 {
  display: flex;
  flex-direction: row;
}

.bottomimg {
  margin: 10px;
}

@media only screen and (max-width: 600px) {
.section2 {
  display: flex;
  margin: 0 10px 0 10px;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}
}

/****************Section 3****************/

.section3 {
  font-family: 'Roboto', sans-serif;
  display: flex;
  margin: 30px 10% 50px 10%;
  justify-content: space-between;
}



.imagesSec3 {
  position: relative;
  top: 0;
  left: 0;
}

.img1Section3 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.img2Section3 {
  width: 50%;
  position: absolute;
  top: 65%;
  left: -18%;
}

.linkMore {
  font-weight: bolder;
}


@media only screen and (max-width: 600px) {
  .section3{
     
     display: flex;
     justify-content: center;
     flex-direction: column;
     height:100%;
    
     
  }
  .imagesSec3 {
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 10px;
  display: flex;
    justify-content: center;
     flex-direction: column;
}

.img1Section3 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  margin: 10px;
}

.img2Section3 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  margin: 10px;
}
}